
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teachers:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --background-color: rgb(13, 17, 23);
  --body-color: #161b1e;
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  margin: 0;
}

.navbar
{
  background: var(--background-color);
}


.container-nav:hover
{
  background: rgba(128, 128, 128, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;